body {
  background: black;
  color: white;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dot {
  height: 20px;
  min-width: 20px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 10px;
}

.text {
  color: #777;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -5%;
  margin: 4px;
  font-size: 40px;
  white-space: nowrap;
}
